openapi: 3.1.0
info:
  title: Chari Pay Public API
  description: "REST API for external partners. Authenticate every
    request     with your API key in the `X-CHARI-PAY-API-KEY` header; the
    environment     (SANDBOX vs PRODUCTION) is determined by the key itself —
    sandbox keys     start with `chari_sk_test_`, production keys with
    `chari_sk_live_`. All money is in     MAD major units, timestamps are
    ISO-8601 UTC, and errors use the     `{ \"error\": { \"code\", \"message\"
    }, \"correlationId\" }` envelope.     Send an optional `Idempotency-Key` on
    any create to make it safely     replayable, and an optional `X-Request-Id`
    for support correlation     (echoed on every response). Register signed
    webhook endpoints under     `/api/v1/partner/webhooks/endpoints`; use an
    explicit event allowlist,     verify the HMAC over the raw body, and
    deduplicate every delivery by     `Chari-Event-Id`. The `/checkout/*`
    endpoints are the exception to API-key     auth: they are session-scoped
    (gated by the session's single-use `vk`) —     never send your API key
    there."
  contact:
    name: Chari Pay Developer Support
    email: support@charipay.ma
  version: 1.0.0
servers:
  - url: https://api-psp.charipay.ma
    description: Sandbox — use a SANDBOX API key
  - url: https://api-psp.charipay.ma
    description: Production — use a PRODUCTION API key
security:
  - apiKey: []
tags:
  - name: Checkout (Direct API)
    description: "Server-to-server checkout for a payment session, usable without
      the hosted payment page. No API key: access is gated by the session's
      sessionId plus the single-use vk returned by POST /v1/payment-sessions.
      Flow: verify → submit → (3-D Secure redirect) → return → poll payment
      status."
  - name: Customer journey analytics
    description: Product, link and checkout attribution timelines.
  - name: Webhook Endpoints
    description: API for managing webhook endpoints
  - name: Checkout Sessions
    description: Server-generated, single-use checkouts tied to an order, each with
      a hosted checkout URL and an expiration.
  - name: Payment Links
    description: Durable, shareable links that collect a fixed amount by card or
      cash-at-agency. Reusable, with optional expiration.
  - name: Refunds
    description: Refund a payment (full or partial) and track refund status.
  - name: Transactions
    description: List, search, export and inspect incoming and outgoing money movements.
  - name: Wallet
    description: Merchant wallet balance, account (RIB), and funding.
  - name: Clients
    description: Reusable customer records (name, e-mail, phone) that subscriptions bill.
  - name: Products
    description: Sellable items in the merchant's hosted storefront.
  - name: Webhooks
    description: >
      Register and manage signed merchant webhook endpoints.


      **Currently emitted events:** `payment.succeeded`, `payment.failed`,

      `subscription.payment_succeeded`, `subscription.payment_failed`,

      `subscription.canceled`, `refund.succeeded`, `refund.failed`,
      `order.paid`,

      `merchant_transfer.completed`, `merchant_transfer.failed`,
      `topup.succeeded`,

      `topup.failed`, `bill_payment.pending`, `bill_payment.succeeded`,

      `bill_payment.failed`, `wallet.activated`, `wallet.rejected`,

      `payout.completed`, and `payout.failed`.


      Other values visible in the `WebhookEventType` enum are reserved and are
      not

      emitted by this release. Use an explicit `enabledEvents` allowlist.


      **Receiver contract:** read the exact raw request bytes; reject stale

      `Chari-Webhook-Timestamp` values; verify `Chari-Webhook-Signature` as
      lowercase

      hex HMAC-SHA256 of `timestamp + "." + rawBody`; route using

      `Chari-Event-Type`; and deduplicate atomically on `Chari-Event-Id` (the
      same

      value as body `WebhookEventId`). Return `2xx` only after the business
      update

      and deduplication record commit. Any non-2xx response is retried and
      events

      can be duplicated or delivered out of order.


      Subscription events echo `ExternalId`, `ClientId`, `PeriodDate`,

      `ChargeReference`, and merchant `metadata`, allowing a partner to
      reconcile

      the exact customer and billing period without card data or provider
      errors.
  - name: Subscriptions
    description: "Recurring billing with initial 3DS payment-method setup, advance
      e-mail notices and provider-token based automatic collection. New records
      are INCOMPLETE until the first payment succeeds and sets activatedAt. A
      failed renewal becomes PAST_DUE: the unpaid period and charge stay open, a
      normalized failure reason and fallback payUrl are sent to the customer and
      merchant webhook, and no later period is opened until recovery."
  - name: Webhooks
    description: Register and manage signed merchant webhook endpoints.
paths:
  /v1/subscriptions/{reference}/payment-method:
    put:
      tags:
        - Subscriptions
      summary: Select a subscription payment method
      description: Switches an auto-pay subscription to one of its client's saved
        payment methods. Only the local payment-method UUID is accepted;
        provider tokens and CVV are never exposed.
      operationId: selectPaymentMethod
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelectSubscriptionPaymentMethodRequest"
        required: true
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/clients/{id}:
    get:
      tags:
        - Clients
      summary: Retrieve a client
      description: Fetches a single client by its UUID.
      operationId: get
      parameters:
        - name: id
          in: path
          description: Client UUID.
          required: true
          schema:
            type: string
            format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    put:
      tags:
        - Clients
      summary: Update a client
      description: Updates a client's name, e-mail and/or phone.
      operationId: update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
        required: true
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - Clients
      summary: Delete a client
      description: Deletes a client. Returns 204 No Content. Fails if the client still
        has active subscriptions.
      operationId: delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Client deleted.
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /checkout/verify:
    post:
      tags:
        - Checkout (Direct API)
      summary: Verify a checkout session
      description: Opens a payment session for payment using its sessionId and the
        verify key (vk) from the create-session response. Returns the amount,
        currency, branding and capabilities of the session. Verify MUST be
        called before submit; on a single-use session the vk is consumed by the
        first verify and cannot be replayed. No API key — do not send
        X-CHARI-PAY-API-KEY.
      operationId: verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutVerifyRequest"
        required: true
      responses:
        "200":
          description: Session verified and open for payment.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CheckoutSessionView"
        "400":
          description: Missing sessionId or vk (VALIDATION_ERROR).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Invalid or already-consumed verify key (INVALID_TOKEN).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Unknown session (SESSION_NOT_FOUND).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Session already paid or canceled (SESSION_ALREADY_CONSUMED /
            SESSION_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "410":
          description: Session expired (SESSION_EXPIRED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
      security: []
  /checkout/submit:
    post:
      tags:
        - Checkout (Direct API)
      summary: Submit card details for a checkout session
      description: "Pays a verified session with a card, server-to-server (no hosted
        page). Preconditions: verify must have been called first; when the
        session was created with keepAlive=true, savePaymentMethodConsent=true
        is required; the Idempotency-Key header is required for a reusable (non
        single-use) session. Returns a terminal status, or PENDING_3DS with a
        redirectionUrl the buyer must open to complete the 3-D Secure challenge
        — afterwards call POST /checkout/return. Callers handling raw card data
        are responsible for their own PCI DSS compliance. No API key — do not
        send X-CHARI-PAY-API-KEY."
      operationId: submit
      parameters:
        - name: Idempotency-Key
          in: header
          description: Required for a reusable session; optional (recommended) for a
            single-use one. Replaying the same key returns the first result.
          required: false
          schema:
            type: string
          example: sub_9f3c2a
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutSubmitRequest"
        required: true
      responses:
        "200":
          description: "Submission accepted: terminal status, or PENDING_3DS with the ACS
            redirectionUrl."
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CheckoutSubmitResponse"
        "400":
          description: Failed validation, or a missing/oversized Idempotency-Key on a
            reusable session (VALIDATION_ERROR / INVALID_IDEMPOTENCY_KEY).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Session was not verified first (INVALID_TOKEN).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Unknown session (SESSION_NOT_FOUND).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Session already paid or canceled, or the Idempotency-Key was
            replayed with a different body (SESSION_ALREADY_CONSUMED /
            SESSION_NOT_ACTIVE / IDEMPOTENCY_CONFLICT).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "410":
          description: Session expired (SESSION_EXPIRED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: keepAlive session submitted without savePaymentMethodConsent=true
            (PAYMENT_METHOD_CONSENT_REQUIRED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
      security: []
  /checkout/return:
    post:
      tags:
        - Checkout (Direct API)
      summary: Confirm the 3-D Secure return
      description: Correlates the buyer's return from the 3-D Secure challenge with
        the submitted operation and returns the final status plus the merchant
        accept/decline redirectUrl. Call it after the buyer completes the
        redirectionUrl from submit. No API key.
      operationId: confirmReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutReturnRequest"
        required: true
      responses:
        "200":
          description: Operation status resolved.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CheckoutReturnResponse"
        "400":
          description: Missing sessionId or operationId (VALIDATION_ERROR).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Unknown session, or the operation does not belong to it
            (SESSION_NOT_FOUND / OPERATION_NOT_FOUND).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
      security: []
  /v1/wallet/cash-ins:
    post:
      tags:
        - Wallet
      summary: Fund the merchant wallet
      description: Creates a local hosted card-payment link. Card submission funds the
        shared sandbox eSIM or the merchant's real production eSIM through the
        canonical checkout flow. Ledger-only sandbox creates and finalizes a
        canonical cash-in through the durable outbox.
      operationId: cashin
      parameters:
        - name: Idempotency-Key
          in: header
          description: Required retry-safe idempotency key.
          required: true
          schema:
            type: string
          example: cashin_20260731_001
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletCashinRequest"
        required: true
      responses:
        "201":
          description: Wallet cash-in link or ledger funding created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletCashinResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}/test-auto-pay:
    post:
      tags:
        - Subscriptions
      summary: Force the next automatic payment (sandbox only)
      description: "Test helper available only with a SANDBOX API key. It creates or
        reuses the charge for the currently outstanding period, queues the
        pre-debit e-mail, and immediately executes the saved-token payment with
        its internally decrypted CVV and 3DS disabled. The CVV never appears in
        the request or response. The subscription must be INCOMPLETE, ACTIVE or
        retryable PAST_DUE, autoPay must be enabled, and the first keepAlive +
        3DS checkout must already have attached a saved payment method. On
        success, nextRunDate advances. On failure, it does not advance: an
        initial failure stays INCOMPLETE; a renewal failure becomes PAST_DUE.
        The response contains a safe failure category/code, attempt count,
        retry/cancellation timing and fallbackPayUrl. Hard declines such as an
        expired card require a replacement payment method or manual payment.
        Idempotency-Key is mandatory; replaying it returns the same operation
        without another debit."
      operationId: testAutoPay
      parameters:
        - name: reference
          in: path
          description: Subscription reference.
          required: true
          schema:
            type: string
          example: SUB-A12BC34DE5
        - name: Idempotency-Key
          in: header
          description: Required unique key. Reuse it only to replay this exact test request.
          required: true
          schema:
            type: string
          example: test-cycle-2026-09-01
      responses:
        "200":
          description: Forced sandbox billing period executed.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionAutoPayTestResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: A production key attempted to use the test endpoint.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: The subscription is not ready for auto-pay testing or the
            idempotency key conflicts.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionAutoPayTestResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}/resume:
    post:
      tags:
        - Subscriptions
      summary: Resume a subscription
      description: Resumes a paused subscription's billing cycle.
      operationId: resume
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}/pause:
    post:
      tags:
        - Subscriptions
      summary: Pause a subscription
      description: Suspends future charges without cancelling. Resume later with /resume.
      operationId: pause
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}/cancel:
    post:
      tags:
        - Subscriptions
      summary: Cancel a subscription
      description: Permanently ends the subscription. No further charges are generated.
      operationId: cancel
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions:
    get:
      tags:
        - Subscriptions
      summary: List subscriptions
      description: Returns the caller's subscriptions for the key's environment, as a
        paginated Page.
      operationId: list
      parameters:
        - name: origin
          in: query
          description: Filter by creation origin (API or DASHBOARD).
          required: false
          schema:
            type: string
            enum:
              - API
              - DASHBOARD
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Subscriptions
      summary: Create a subscription
      description: "Starts a recurring subscription for an existing client. Auto-pay
        defaults to true; the returned status is INCOMPLETE until the first
        billing period succeeds. The first hosted checkout uses 3DS, saves a
        provider token, masks the PAN and stores reusable authentication
        material in the restricted audited vault. Neither token nor CVV is
        returned. Future charges are announced by e-mail and collected at
        billingTime in Africa/Casablanca. If the start date is today or earlier,
        the first charge is opened immediately and returned in currentCharge.
        Supply an optional client-owned externalId (unique per merchant) to make
        the create idempotent: a duplicate externalId returns the existing
        subscription with 200 OK."
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubscriptionRequest"
        required: true
      responses:
        "200":
          description: Existing subscription returned (idempotent replay on externalId).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
        "201":
          description: Subscription created.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/refunds:
    get:
      tags:
        - Refunds
      summary: List refunds
      description: Returns your refunds for the key's environment, most recent first,
        as a paginated Page. Optionally filtered by status (PENDING, SUCCESS,
        FAILED).
      operationId: list_1
      parameters:
        - name: status
          in: query
          description: Only refunds in this status.
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - SUCCESS
              - FAILED
          example: FAILED
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Refunds
      summary: Create a refund
      description: "Refunds a payment, in full or partially (refundAmount). Identify
        the payment by operationId or externalId. Idempotent on refundReference:
        replaying an already-executed reference returns the existing refund
        (200) without re-debiting; a fresh one returns 202 Accepted while it
        settles."
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundPaymentRequest"
        required: true
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/products:
    get:
      tags:
        - Products
      summary: List products
      description: Returns the caller's products for the key's environment as a
        paginated Page.
      operationId: list_2
      parameters:
        - name: origin
          in: query
          description: Filter by creation origin (API or DASHBOARD).
          required: false
          schema:
            type: string
            enum:
              - API
              - DASHBOARD
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Products
      summary: Create a product
      description: "Creates a product in the caller's catalog. Supply an optional
        client-owned externalId (unique per merchant) to make the create
        idempotent: a duplicate externalId returns the existing product with 200
        OK."
      operationId: create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
        required: true
      responses:
        "200":
          description: Existing product returned (idempotent replay on externalId).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "201":
          description: Product created.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-sessions/{sessionId}/cancel:
    post:
      tags:
        - Checkout Sessions
      summary: Cancel a checkout session
      description: Expires the session so it can no longer be paid. Returns the
        updated session status.
      operationId: cancel_1
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-sessions:
    get:
      tags:
        - Checkout Sessions
      summary: List checkout sessions
      description: Returns the caller's checkout sessions for the key's environment,
        most recent first. Optionally filter by creation origin with ?origin=API
        or ?origin=DASHBOARD.
      operationId: list_3
      parameters:
        - name: origin
          in: query
          description: Filter by creation origin (API or DASHBOARD).
          required: false
          schema:
            type: string
            enum:
              - API
              - DASHBOARD
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Checkout Sessions
      summary: Create a checkout session
      description: "Creates a single-use checkout session for an order and returns its
        hosted checkoutUrl. Supply an optional client-owned externalId (unique
        per merchant) to make the create idempotent: a duplicate externalId
        returns the existing session with 200 OK. Pass an optional
        Idempotency-Key header to make retries safe."
      operationId: create_3
      parameters:
        - name: Idempotency-Key
          in: header
          description: Optional idempotency key; replaying the same value returns the
            first result.
          required: false
          schema:
            type: string
          example: idem_9f3c2a
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionRequest"
        required: true
      responses:
        "200":
          description: Existing session returned (idempotent replay on externalId).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StorePaymentDataResponse"
        "201":
          description: Session created.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StorePaymentDataResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-links/{reference}/send:
    post:
      tags:
        - Payment Links
      summary: E-mail a payment link
      description: Sends the payment link by e-mail to the given address, or the
        link's stored customer e-mail if no body is provided. Returns 202
        Accepted.
      operationId: send
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPaymentLinkRequest"
      responses:
        "202":
          description: Send accepted.
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-links/{reference}/cancel:
    post:
      tags:
        - Payment Links
      summary: Cancel a payment link
      description: Deactivates the link so it can no longer be paid. Idempotent;
        returns the updated link.
      operationId: cancel_2
      parameters:
        - name: reference
          in: path
          description: Payment-link reference.
          required: true
          schema:
            type: string
          example: pl_3ND8xk
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-links:
    get:
      tags:
        - Payment Links
      summary: List payment links
      description: Returns the caller's payment links for the key's environment, most
        recent first, as a paginated Page.
      operationId: list_4
      parameters:
        - name: origin
          in: query
          description: Filter by creation origin (API or DASHBOARD).
          required: false
          schema:
            type: string
            enum:
              - API
              - DASHBOARD
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Payment Links
      summary: Create a payment link
      description: "Creates a reusable (or single-use) payment link. Supply an
        optional client-owned externalId (unique per merchant) to make the
        create idempotent: a duplicate externalId returns the existing link with
        200 OK instead of creating a new one. Returns the link including its
        buyer-facing payUrl."
      operationId: create_4
      parameters:
        - name: Idempotency-Key
          in: header
          description: Optional idempotency key; replaying the same value returns the
            first result.
          required: false
          schema:
            type: string
          example: idem_9f3c2a
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentLinkRequest"
        required: true
      responses:
        "200":
          description: Existing link returned (idempotent replay on externalId).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PaymentLinkResponse"
        "201":
          description: Link created.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PaymentLinkResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/partner/webhooks/endpoints:
    get:
      tags:
        - Webhooks
      summary: List partner webhook endpoints
      operationId: list_5
      parameters:
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PageWebhookEndpointResponse"
    post:
      tags:
        - Webhooks
      summary: Register a partner webhook endpoint
      description: Returns the signing secret once; it is not exposed by later reads.
        Store it in a secret manager. The endpoint belongs only to the API key's
        SANDBOX or PRODUCTION environment. Subscribe to
        subscription.payment_succeeded to mark a merchant billing period paid,
        subscription.payment_failed for normalized recovery information, and
        subscription.canceled for terminal dunning. Events include ExternalId,
        PeriodDate and merchant metadata for reconciliation.
      operationId: create_5
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEndpointRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
  /api/v1/partner/webhooks/endpoints/{id}/test:
    post:
      tags:
        - Webhooks
      summary: Send a test event to a partner webhook endpoint
      description: "Queues a synthetic payment.succeeded carrying Test: true, signed
        exactly like a real event, ignoring the event allowlist. Returns the
        delivery id; read it back on GET
        /api/v1/partner/webhooks/events/{deliveryId} to see your receiver's
        response."
      operationId: sendTestEvent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: object
  /api/v1/partner/webhooks/endpoints/{id}/rotate-secret:
    post:
      tags:
        - Webhooks
      summary: Rotate a partner webhook signing secret
      description: Immediately invalidates the previous secret and returns the
        replacement once. Update the receiver atomically to avoid rejecting
        deliveries.
      operationId: rotate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
  /api/v1/partner/webhooks/endpoints/{id}/activate:
    post:
      tags:
        - Webhooks
      summary: Reactivate a suspended partner webhook endpoint
      description: Endpoints are auto-suspended after repeated delivery failures;
        queued events are retained and resume in order on reactivation.
      operationId: activate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
  /v1/clients/{id}/payment-methods/{paymentMethodId}/default:
    post:
      tags:
        - Clients
      summary: Set a client's default payment method
      description: Marks one client-owned payment method as the default for new
        auto-pay subscriptions.
      operationId: defaultPaymentMethod
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/clients:
    get:
      tags:
        - Clients
      summary: List clients
      description: Returns the account's saved clients as a paginated Page.
      operationId: list_6
      parameters:
        - name: origin
          in: query
          description: Filter by creation origin (API or DASHBOARD).
          required: false
          schema:
            type: string
            enum:
              - API
              - DASHBOARD
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags:
        - Clients
      summary: Create a client
      description: Creates a reusable customer record for this account.
      operationId: create_6
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
        required: true
      responses:
        "201":
          description: Client created.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/products/{reference}:
    get:
      tags:
        - Products
      summary: Retrieve a product
      description: Fetches a single product by its reference.
      operationId: get_1
      parameters:
        - name: reference
          in: path
          description: Product reference.
          required: true
          schema:
            type: string
          example: prod_2Bc9Zt
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - Products
      summary: Deactivate a product
      description: Deactivates the product so it can no longer be ordered. Returns the
        updated product.
      operationId: deactivate
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    patch:
      tags:
        - Products
      summary: Update a product
      description: Partially updates a product; only the fields present in the body
        are changed.
      operationId: update_1
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
        required: true
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /api/v1/partner/webhooks/endpoints/{id}:
    get:
      tags:
        - Webhooks
      summary: Retrieve a partner webhook endpoint
      operationId: get_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
    delete:
      tags:
        - Webhooks
      summary: Delete a partner webhook endpoint
      operationId: delete_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
    patch:
      tags:
        - Webhooks
      summary: Update a partner webhook endpoint
      description: Updates the URL, explicit event allowlist, custom routing headers,
        or enabled state. Use an explicit enabledEvents list to avoid
        automatically receiving newly introduced events.
      operationId: update_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEndpointRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WebhookEndpointResponse"
  /checkout/payments/{reference}:
    get:
      tags:
        - Checkout (Direct API)
      summary: Get buyer-facing payment status
      description: Resolves the status of a payment by order reference, payment-link
        reference, or the provider gateway id from the 3-D Secure return. Always
        answers with our reference and carries no PII. Use it to poll for the
        outcome after submit/return. No API key.
      operationId: paymentStatus
      parameters:
        - name: reference
          in: path
          description: Order reference, payment-link reference, or provider gateway id.
          required: true
          schema:
            type: string
          example: ord_7Hq2Lm
      responses:
        "200":
          description: Status resolved.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PublicPaymentStatusResponse"
        "404":
          description: No payment matches the reference (ORDER_NOT_FOUND).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
      security: []
  /v1/wallet/account/rib-document:
    get:
      tags:
        - Wallet
      summary: Download wallet RIB (PDF)
      description: Returns the wallet's bank details rendered as a downloadable PDF
        document.
      operationId: rib
      responses:
        "200":
          description: PDF document.
          content:
            application/pdf: {}
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/wallet/account:
    get:
      tags:
        - Wallet
      summary: Retrieve wallet account (RIB)
      description: Returns the copyable bank details (RIB/IBAN/BIC, holder, bank) and
        current balances.
      operationId: account
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/wallet:
    get:
      tags:
        - Wallet
      summary: Retrieve wallet balance
      description: Returns the live wallet balance in MAD for the key's environment.
      operationId: balance
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/transactions/{operationId}/timeline:
    get:
      tags:
        - Transactions
      summary: Transaction timeline
      description: Returns the synthesized lifecycle timeline (created, authorized,
        captured, refunded, ...) for a transaction.
      operationId: timeline
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/transactions/{operationId}:
    get:
      tags:
        - Transactions
      summary: Retrieve a transaction
      description: Fetches a single transaction by its operationId.
      operationId: get_3
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/transactions/export.csv:
    get:
      tags:
        - Transactions
      summary: Export transactions (CSV)
      description: Streams the filtered transactions as a CSV file (up to 10,000
        rows). Requires transaction:export.
      operationId: exportCsv
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PENDING_3DS
              - SUCCESS
              - FAILED
              - CANCELED
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - PAYMENT
              - REFUND
              - BILL_PAYMENT
              - BANK_TRANSFER
        - name: method
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/transactions:
    get:
      tags:
        - Transactions
      summary: List transactions
      description: Lists incoming and outgoing transactions for the key's environment
        with filters (status, type, method, channel, date range, search). Offset
        pagination by default; pass limit (+cursor) for keyset cursor pagination
        on deep scans.
      operationId: list_7
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - PENDING_3DS
              - SUCCESS
              - FAILED
              - CANCELED
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - PAYMENT
              - REFUND
              - BILL_PAYMENT
              - BANK_TRANSFER
        - name: method
          in: query
          required: false
          schema:
            type: string
        - name: channel
          in: query
          required: false
          schema:
            type: string
        - name: settlementId
          in: query
          required: false
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}/charges:
    get:
      tags:
        - Subscriptions
      summary: List a subscription's charges
      description: Returns every charge (payment link) generated by the subscription,
        most recent period first.
      operationId: charges
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/subscriptions/{reference}:
    get:
      tags:
        - Subscriptions
      summary: Retrieve a subscription
      description: Fetches a subscription, its safe saved-method display data, open
        charge and billing recovery state. For a failed INCOMPLETE setup or
        PAST_DUE renewal, billingRecovery contains a normalized reason, customer
        action, attempt count, next retry and cancellation deadline; provider
        error JSON and sensitive card data are never returned.
      operationId: get_4
      parameters:
        - name: reference
          in: path
          description: Subscription reference.
          required: true
          schema:
            type: string
          example: sub_7Qa1bx
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/refunds/{reference}:
    get:
      tags:
        - Refunds
      summary: Retrieve a refund
      description: Fetches a refund by your refundReference or the platform refundId.
      operationId: get_5
      parameters:
        - name: reference
          in: path
          description: Your refundReference or the platform refundId.
          required: true
          schema:
            type: string
          example: rf_2026_0001
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/products/{reference}/orders:
    get:
      tags:
        - Products
      summary: List a product's orders
      description: Returns the orders placed for this product as a paginated Page.
      operationId: orders
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-sessions/{sessionId}:
    get:
      tags:
        - Checkout Sessions
      summary: Retrieve a checkout session
      description: Fetches a session's current status, amount and expiration by its id.
      operationId: get_6
      parameters:
        - name: sessionId
          in: path
          description: Session id.
          required: true
          schema:
            type: string
          example: ps_5Kd0Rn
      responses:
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-links/{reference}/qr:
    get:
      tags:
        - Payment Links
      summary: Payment-link QR code
      description: Returns a PNG QR code that encodes the link's buyer-facing payUrl.
      operationId: qr
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: PNG image.
          content:
            image/png: {}
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid API key (code = UNAUTHORIZED).
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Authenticated but the key lacks the required permission, or
            production access is not enabled (code = FORBIDDEN /
            PRODUCTION_ACCESS_DENIED).
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "422":
          description: Syntactically valid but a business rule blocks it (e.g.
            WALLET_NOT_ACTIVE).
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Rate limit exceeded (code = RATE_LIMITED). Retry after the
            Retry-After header.
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v1/payment-links/{reference}/poster:
    get:
      tags:
        - Payment Links
      summary: Payment-link poster (PDF)
      description: Returns a printable A4 poster (PDF) with the QR code and amount,
        for display at a till.
      operationId: poster
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: PDF document.
          content:
            application/pdf: {}
        "400":
          description: Malformed request or failed validation (code = VALIDATION_ERROR /
            MISSING_PARAMETER).
          content:
            application/pdf:
              schema:
[...]
